name: docker
on:
  push:
    branches:
      - master
    paths:
      - 'Dockerfile.**'
  workflow_dispatch:
  repository_dispatch:
    types:
      - nebula-third-party-build

defaults:
  run:
    shell: bash

jobs:
  docker:
    name: docker
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - {"name": "centos7", "file": "centos7"}
          - {"name": "centos8", "file": "centos8"}
          # - {"name": "ubuntu1604", "version": "xenial", "file": "ubuntu"}
          # - {"name": "ubuntu1804", "version": "bionic", "file": "ubuntu"}
          - {"name": "ubuntu2004", "version": "focal", "file": "ubuntu"}
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2
      - uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.${{ matrix.os.file }}
          platforms: linux/amd64,linux/arm64
          tags: vesoft/nebula-dev:${{ matrix.os.name }}
          push: true
          build-args: |
            VERSION=${{ matrix.os.version }}
            THIRD_PARTY_URL_BASE=https://minio.vesoft-inc.com/rc-build/third-party
